
/* .controls-wrapper{
    position: absolute;
    height:15vh;
    top:30vh;
    left: 0;
    width: 100%;
} */
p.initial-text{
    color: #c15711;
    font-weight: bold;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px){
    .controls{
        position: fixed;
        overflow: scroll;
        height: 200px;
    }
    
}

.controls > div{
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e98541;
    padding: 40px  40px;
    color: #fff;

}
.control .label{
    font-size: 25px;
}
.control .label + div{
    display: flex;
    justify-content: center;
}
.control .btn{
    align-items: center;
    background: #fff;
    height: 40px;
    text-align: center;
    width: 40px;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 100%;
    transition: all 0.4s;
    margin: 0 20px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.15);
}
.btn:hover{
    box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
    transform: scale(1.05)
}
.btn:disabled{
    border: 1px solid;
}

.order-controls > button{
    font-size: 20px;
    font-weight: 900;
    width: 150px;
    margin: 10px auto;
    color: #fff;
    background-color: #c15711;
    border: 0;
    border-radius: 100px;
    padding: 8px 0;
    transition: all 0.5s;


}
.order-controls > button:disabled{
    transform: scale(0.9);
    opacity: 0.5;
    cursor: not-allowed;
}
.order-controls .reset-btn{

}
.order-controls .reset-btn{
    color: #c15711;
    background-color: #fff;
}
p.price{
    text-align: center;
    font-size: 20px;
    color:  #c15711;
}
.copyright{
    text-align: center;
}
@media only screen and (max-width: 600px){
   .copyright{
       margin-top: 230px;
   }
    
}