
.Modal{
    border: 1px solid #000;
    box-shadow: 0px 0px 10px #555;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    transition: all 1s;
    animation: animModal 0.4s linear;
    z-index: 500;
}
@media (max-width: 768px){
    .Modal{
        max-width: 400px;
        top: 0;
        left: 50%;
    }
}
   

@keyframes animModal {
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0);
    }
}

.btn{
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    border: 0;
    outline: 0;
    margin: 0 10px;
    cursor: pointer;
    
}
.btn-pos{
    color: green;
}
.btn-neg{
    color: red;
}